@page
@model RazorPagesUI.Pages.All_Items_Item_LookupModel
@{
}





<div class="container pb-4">
<div class="row align-items-center">
    <div class="col-md-5 align-self-center">
        <h4 class="pb-3">Item Lookup</h4>
        <div class="row">
            <form method="post" asp-page-handler="Search" asp-route-SiteName="@Model.SiteName" asp-route-DisplayState="@Model.DisplayState" asp-route-DetailDisplayState="@Model.DetailDisplayState" asp-route-HasAccess="@Model.HasAccess" asp-route-UserId="@Model.UserId" asp-route-FromMyItems="@Model.FromMyItems">
                <div class="input-group mb-3">
                    <input type="text" asp-for="@Model.SearchKey" aria-label="Search" placeholder="Search item# or keyword" aria-describedby="button-addon2">
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary" type="submit" id="button-addon2">Search</button>
                    </div>
                </div>
            </form>
        </div>

    </div>
    <div class="col-md-4"></div>
    <div class="col-md-3">

       
    </div>
</div>
</div>
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">LAWSON#</th>
                <th scope="col">MFR#</th>
                <th scope="col">DESCRIPTION</th>
                <th scope="col">CRITICAL ITEM</th>
                <th scope="col">ACTIVE STATUS</th>
                <th scope="col">HAS SUBS</th>
                <th scope="col">HAS NOTES</th>

            </tr>
        </thead>
        <tbody>

            @{ foreach (var item in Model.ItemList)
                {
                    string lawson = item.Item_Number;
                    string mfr = item.PIV_VEN_ITEM;
                    string desc = item.Description;
                    string hasNotes = Model.HasNotes(item.Item_Number);
                    string hasSubs = Model.HasSubs(item.Item_Number);
                    string isCritical = Model.IsCriticalStatus(item.Item_Number);
                    string activeStatus = Model.IsActive(item.Item_Number);


                    <form method="post" asp-page-handler="SelectItem" asp-route-ItemId="@lawson" asp-route-DisplayState="@Model.DisplayState" asp-route-DetailDisplayState="@Model.DetailDisplayState" asp-route-SiteName="@Model.SiteName" asp-route-HasAccess="@Model.HasAccess" asp-route-UserId="@Model.UserId" asp-route-FromMyItems="@Model.FromMyItems" asp-route-SearchKey="@Model.SearchKey">
                        <tr>
                            <td>

                                <button type="submit" class="btn btn-default">
                                    @lawson
                                </button>
                            </td>
                            <td>
                                <button type="submit" class="btn btn-default">
                                    @mfr
                                </button>
                            </td>
                            <td>
                                <button type="submit" class="btn btn-default">
                                    @desc
                                </button>
                            </td>
                            <td>
                                <button type="submit" class="btn btn-default">
                                    @isCritical
                                </button>
                            </td>
                            <td>
                                <button type="submit" class="btn btn-default">
                                    @activeStatus
                                </button>
                            </td>
                            <td>
                                <button type="submit" class="btn btn-default">
                                    @hasSubs
                                </button>
                            </td>
                            <td>
                                <button type="submit" class="btn btn-default">
                                    @hasNotes
                                </button>
                            </td>
                        </tr>

                    </form>
                }
            }

        </tbody>

    </table>




