@page
@model RazorPagesUI.Pages.Dashboard_MoreModel
@{
}


<div class="jumbotron">
    <div class="row">

        @{
            foreach (var site in Model.AllSitesList)
            {
                string siteName = Model.GetSiteName(site);

                int allCount = Model.GetSiteAllCount(site);
                int resolvedCount = Model.GetSiteResolvedCount(site);
                int openCount = allCount - resolvedCount;

                <div class="col-3">
                    <div class="card mb-4 rounded-pill" style="width: 18rem;">
                        <div class="card-body">
                            <h5 class="card-title text-center mt-4">@siteName</h5>

                            <button href="#" class="list-group-item list-group-item-dark list-group-item-action" type="submit">
                                ALL
                                <span class="badge badge-primary badge-secondary">@allCount</span>
                            </button>


                            <button href="#" class="list-group-item list-group-item-action" type="submit">
                                OPEN
                                <span class="badge badge-primary badge-danger">@openCount</span>
                            </button>


                            <button href="#" class="list-group-item list-group-item-action" type="submit">
                                RESOLVED
                                <span class="badge badge-primary badge-secondary">@resolvedCount</span>
                            </button>

                        </div>
                    </div>
                </div>
            }

        }
    </div>
</div>

<div class="jumbotron">
    <div class="row">
        @{ foreach (var user in Model.MonitoredUsers)
            {
                <div class="col-3">
                    <div class="card mb-4" style="width: 15rem;">
                        <div class="card-body">
                            <h5 class="card-title">@user.UserName</h5>

                            <button href="#" class="list-group-item list-group-item-dark list-group-item-action" type="submit">
                                ALL
                                <span class="badge badge-primary badge-secondary">@Model.GetUserAllCount(@user.Id)</span>
                            </button>


                            <button href="#" class="list-group-item list-group-item-action" type="submit">
                                OPEN
                                <span class="badge badge-primary badge-danger">@Model.GetUserOpenCount(user.Id)</span>
                            </button>


                            <button href="#" class="list-group-item list-group-item-action" type="submit">
                                RESOLVED
                                <span class="badge badge-primary badge-secondary">@Model.GetUserResolvedCount(user.Id)</span>
                            </button>

                        </div>
                    </div>
                </div>
            }
        }
    </div>
</div>